#title-page{
  font-size: 19.5px;
  font-weight: 350;
}
.option-cont{
  background-color: rgb(232, 231, 231);
  font-size: 13.5px;
  box-shadow: 0px 1px 3px  rgba(0, 0, 0, 0.6);
}
*{
  font-family: 'Open Sans', sans-serif;
}
.footer{
  text-align: center;
  font-size: 13px;
  position: absolute;
  background-color: rgb(53, 53, 53);
  left: 0 ;
  right: 0;
  color: white;
  bottom: 0;
}
#logoentrada{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 100000;
  text-align: center;
  display: grid;
  
}
#containerspinner{
  display: inline-block;
  margin: auto;
  width: 100%;
  height: 30px;
}
.spyner{
  margin-top: 10px;
  width: 20px;
  height: 20px;
}
